.cart {
  margin-top: 70px;
  display: flex;
  margin-left: 20px;
}
.cart * {
  
  font-family: "DM Sans", sans-serif;
}
.listitem{
  margin-top: 20px;
  justify-content: center;
}


#cartheading{
  height: 60px;
  font-size: large;
  background-color: aliceblue;
}
#cartheading td{
  padding: 4px 35px;
  /* font-size: 20px; */
  /* font-weight: 600; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#producthead {
  /* margin-bottom: 2.5rem; */
  border-bottom: 2px solid rgb(158, 157, 157);
}

.imgonly{
  
  width: 75px;
  height: 90px;
 cursor: pointer;
  margin: 20px 0px;
  }
  .quantity {
   
    display: flex;
    
    border-radius: 5px;
  }
  
  .quantity p {
   padding-top: 7px;
    background-color: rgb(221, 221, 221);
    font-size:16px;
    height: 36px;
    width: 40px;
    font-weight: 600;
  }
  .btnp{
    transition: .4s;
    cursor: pointer;
  }
  .btnp:hover {
    background-color: aliceblue;
  }
.checkout {
  position: fixed;
  right: 1px;
  width: 360px;
  margin-right: 30px;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #738aaf;
  background-color: rgb(249, 252, 252);
  border: 3px solid black;
}
.checkout > div > div {
  display: flex;
  justify-content: space-between;
}
.checkout > div > div h4 {
  margin-bottom: 15px;
}
.checkout > div > div p {
  margin-top: 0px;
  margin-bottom: 2px;
}
.checkout > div > div p + p {
  font-weight: 560;
}
.chkout button {
  margin-top: 30px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: rgb(22, 23, 23);
  transition: all 0.35s;
}
.chkout button:hover {
  background-color: rgb(248, 18, 198);
}
.discount {
  color: rgb(236, 8, 8);
  font-size: 0.9rem;
  font-weight: 500;
}
.paymethod {
  background-color: rgb(245, 245, 245);
  margin-top: 15px;
}
.paymethod p {
  padding-top: 5px;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 0px;
}
.paymethod img {
  height: 100px;
  width: 14rem;
}
@media (max-width:800px) {
  .cart {
    margin-left: 0px;
    /* margin-right: 5px; */
    flex-direction: column;
  }
  #cartheading td{
    padding: 0px 7px;
  }
  .imgonly{
    width: 65px;
  height: 80px;
  }
}


.chkout >button {
  margin-top: 5px;
  padding: 8px 0px;
  background-color: blueviolet;
}
.chkout >button:hover {
background-color: black;
}

@media (max-width: 1000px) {
 
  .checkout {
    bottom: 1px;
    right: 1px;
    width: 100%;
    margin: 0px;
    z-index: 1;
  }
  .checkout > div > div h4 {
    margin-bottom: 5px;
  }
  hr {
    margin: 1px;
  }
  .listitem {
    margin-bottom: 350px;
  }
  .cartbody {
    height: fit-content;
    width: 97vw;
  }
}

