#checkouthead{
	margin-top: 70px;
	display: flex;
	justify-content: space-evenly;
}
#checkouthead > div{
	display: flex;
	flex-direction: column;

}
#checkouthead > div>div{
	display: flex;
	flex-direction: column;
}
#checkouthead > div > div >div{
	display: flex;
	flex-direction: column;
}
#checkouthead form  >input{
	display: flex;
	width:35vw;
	height: 45px;
margin-bottom: 15px;
border-radius: 5px;
outline: none;
border: 1px solid rgb(174, 173, 173);
/* background-color: azure; */
flex-direction: column;
}
#checkouthead form > input::placeholder{
/* translate: 0px -20px;
z-index: 1; */
}
#address{
	
	padding-left: 20px;
	width: fit-content;
}
hr{
	width: 80%;
}
#address >div{
	text-align: left;
	/* margin-left: 100px; */
	width: 38vw;
}
.right{
	width: 45vw;
	/* border-left: 2px solid grey; */
	height: fit-content;
	background-color: antiquewhite;
}
.right > h4 {
	padding-top: 10px;
  }
  .right > span {
	display: block;
	
	height: 2px;
	/* background-color: #ffffffd9; */
	margin: 10px auto;
  }
  .form-container >form{
	display: flex;
	justify-content: left;
	flex-direction: column;
	margin-top: 10px;
	/* padding: 0px 47px; */
  }
  .form-container select {
	height: 40px;
	background-color: rgb(235, 233, 233);
	margin-bottom: 20px;
	font-weight: 600;
	color: rgb(213, 64, 229);
	width: 200px;
	margin-left: 53px;
	outline: none;
	/* border-bottom: 2px solid grey; */
	/* text-align: left; */
  }
  .form-container select option p {
	cursor: pointer;
  }
  .form-container input {
	width: 400px;
	height: 45px;
	margin-bottom: 20px;
	/* margin-right: 20px; */
}
.payamount{
	display: flex;
	padding: 0px 53px;
	justify-content: space-between;
}
.orderplace button{
	width: 400px;
	height: 50px;
	font-weight: 600;
	background-color: blueviolet;
	margin-bottom: 20px;
	color: white;
	font-size: 1.5rem;
	outline: none;
}
#upi{
	display: none;
}
#qrcode{
	
	width: 300px;
	box-shadow: 0px 0px 2px black;
}
 

  @media (max-width:900px) {
	#checkouthead{
		margin-top: 70px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
  }