#mainhome{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style-type: none;
}
li {
  text-decoration: none;
}
/* i{
  color: aqua;
} */
/* shop by catagory */

#catagory {
  margin: 40px 0px;
}
#catagoryheading {
  margin-bottom: 20px;
  text-shadow: .2px .1px ;

}
.cata_product{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cata_product1 {
  display: flex;
  flex-direction: column;
}
.cata_product1 img{
  padding: 20px 40px;
  height: 40vw;
  width: 38vw;
  
}
.cata_product2 img{
  padding: 20px 40px;
  height: 80vw;
  width: 40vw;
}
@media (max-width:865px) {
  .cata_product1 img{
    padding: 5px 10px;
    height: 55vw;
    width: 43vw;
    
  }
  .cata_product2 img{
    padding: 5px 10px;
    height: 110vw;
    width: 43vw;
  }
  
}

/* Featured product */


#featuredpro{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: rgb(236, 241, 243); */
    margin:20px 20px;
}
#featureheading p{

    margin-bottom: 20px;
    font-size: xxx-large;
}
#featuredmain{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  flex-wrap: wrap;
  /* max-width: 1200px; */
}
#featuredmain > div{
  flex-wrap: wrap;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
}
#featuredmain > div >div{
  margin: 30px 30px;
  flex-direction: column;
  width: 380px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 15px 13px rgb(207, 206, 206);
  
  padding: 30px;
  border-radius: 6px;
  transition: all .2s;
}
#featuredmain > div>div:hover{
  transform: scale(1.05);
}
#featuredmain >div> div>div{
  padding: 15px;
  /* margin-top: 0px; */
}

#featuredmain >div >div> div *{
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}

#featuredmain div div h4,#featuredmain div div span{
  font-weight: 500;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
}
#featuredmain img{
  width: 320px;
  height: 382px;
  border-radius: 6px;

}

@media (max-width:865px) 
  {
    #featuredpro{
      margin: 10px 0px;
    }
    #featuredmain {
     flex-direction: column;
    }
    #featureheading p{

      margin-bottom: 20px;
      font-size: xx-large;
  }
    #featuredmain > div >div{
      
      width: 260px;
    }
    #featuredmain img{
      height: 250px;
      width: 200px;
    }
  }
  @media (max-width:640px) {
    /* #featuredmain img{
      height: 40vw;
      width: 37vw;
    } */
    #featuredmain > div >div{
      margin: 15px 10px;
    }
  }
  @media (max-width:385px) {
    #featuredmain >div {
    justify-content: space-around;
    }
   
    #featuredmain >div >div{
      width: 260px;
    }
    
    /* #featuredmain >div >div>div{
      padding: 15px;
      
    } */
    #featuredmain img{
      width: 200px;
      height: 250px;
    }
  }

/* Benifits */

#benifits{
    display: flex;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-bottom: 4px solid gray;
    background-color: rgb(238, 237, 235);
}

#benifits div {
    display: flex;
    width: 357px;  
}
#benifits div div {
    display: flex; 
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px 0px;
    text-align: left;
    flex-direction: column; 
}
#benifits div div p{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}
#benifits div i{
  
    font-size: 35px;
    color: black;
    margin: 30px 10px auto 10px;
}
@media (max-width:865px) {
  #benifits{
    flex-direction: column;
  }
}



/* AD */

#ad img{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 97.5%;
  height: 260px;
  cursor: pointer;
}
/* @media (min-width:1200px) {
  #ad img, #catagory{
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
  }
  
} */