#mainhome{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style-type: none;
}
li {
  text-decoration: none;
}
/* i{
  color: aqua;
} */
/* shop by catagory */

#catagory {
  margin: 40px 0px;
}
#catagoryheading {
  margin-bottom: 20px;
  /* font-weight: 600; */
  text-shadow: .2px .1px ;
}

#catagory ul {
  display: flex;
  justify-content: space-evenly;

  overflow: hidden;
  padding: 0px;
}
#catagory ul li {
  cursor: pointer;
  /* position: relative; */
  margin-bottom: 20px;
}
#catagory ul li img {
  /* cursor: pointer; */
  width: 24.3em;
  height: 300px;
}
.seedetails {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* top: 77%; */
 margin-left: auto;
 margin-right: auto;
  bottom: 0%;

  width: 24.3em;
  background-color: rgb(231, 237, 243);
  /* display: flex; */
  opacity: 1;
  transition: ease-in 0.8s;
}
.seedetails h3 {
  margin-top: 10px;
  height: 40px;
  text-shadow: .2px .1px ;
}



@media (max-width:865px) {
  #catagory ul {
    flex-direction: column;
    
  }
  
}
@media (max-width:350px) {
  #catagory ul li img,.seedetails {
    width: 90%;
  }
}
/* Featured product */


#featuredpro{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(236, 241, 243);
    margin:20px 20px;
}
#featureheading h3{
  text-shadow: .2px .1px ;
    margin-bottom: 20px;
    /* font-weight: 600; */
    /* font-family: 'Josefin Sans', sans-serif; */
}
#featuredmain{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  flex-wrap: wrap;
  /* max-width: 1200px; */
}
#featuredmain > div{
  flex-wrap: wrap;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
}
#featuredmain > div >div{
  margin: 10px 10px;
  flex-direction: column;
  width: 220px;
  display: flex;
  justify-content: space-evenly;

}

#featuredmain >div> div>div{
  background-color: rgb(159, 210, 255);
  /* translate: 0px -10px; */
  margin-top: 0px;
}

#featuredmain >div >div> div *{
  margin-top: 0px;
  margin-bottom: 0px;
}

#featuredmain div div h4,#featuredmain div div span{
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(218, 20, 20);
}
#featuredmain img{
  height: 250px;
  width: 220px;
}

@media (max-width:865px) 
  {
    #featuredpro{
      margin: 10px 0px;
    }
    #featuredmain {
     flex-direction: column;
    }
     
    #featuredmain > div >div{
      margin: 10px 0px;
      width: 150px;
    }
    #featuredmain img{
      height: 170px;
      width: 150px;
    }
  }

  @media (max-width:385px) {
    #featuredmain >div {
    justify-content: space-around;
    }
   
   
  }

/* Benifits */

#benifits{
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-bottom: 4px solid gray;
    background-color: rgb(238, 237, 235);
}

#benifits div {
    display: flex;
    width: 357px;  
}
#benifits div div {
    display: flex; 
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px 0px;
    text-align: left;
    flex-direction: column; 
}
#benifits div div p{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}
#benifits div i{
  
    font-size: 35px;
    color: black;
    margin: 30px 10px auto 10px;
}
@media (max-width:865px) {
  #benifits{
    flex-direction: column;
  }
}



/* AD */

#ad img{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 97.5%;
  height: 260px;
  cursor: pointer;
}
@media (min-width:1200px) {
  #ad img, #featuredpro,#catagory{
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
  }
  
}