.productpage{

    margin-top: 135px;
    background-color: #ffffff;
}
.product_part{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}



/* img part  */

.img_part{
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
}
.main_img img{
   height:430px ;
    width: 370px;
    transition: all .25s;
    border-radius: 6px;
    box-shadow: 0px 0px 5px  gray;
}

.whishlist{
    cursor: pointer;
    color: #fbfffc;
    font-size: 17px;
    
}
.whishlist:hover{
    font-weight: 600;
    color: #faf25e;
}
.small_img{
    box-shadow: 0px 0px 2px  gray;
    width: 50px;
    cursor: pointer;
    margin: 5px 2px;
    border: 2px solid grey;
    height: 60px;
}


/* description part */


.descrip_part {
    display: flex;
    text-align: left;
    margin-left: 75px ;
    /* margin-top: 25px; */
    flex-direction: column;
}
.descrip_part h3{
    /* font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    font-weight: 700;
    font-size: 40px;
    max-width: 36vw;
}
.product_price{

margin: 10px 0px 0px 0px;
}
.actual_mrp h4{
    font-weight: 700;
    font-size: xx-large;
}
.actual_mrp{
    display: flex;
}
.actual_mrp p {
    margin: 0px 5px 2px 0px ;
}
.mrp1{
    font-size: x-large;
    font-weight: 600;
    color: rgb(152, 152, 152);
    text-decoration: line-through rgb(152, 152, 152);
}
.actual_mrp h4 + p {
    font-weight: 600;
    border-radius: 15px;
    background-color: rgb(235, 238, 238);
    padding: 0px 5px;
    margin: 5px 0px 17px 10px;
    color: rgb(3, 203, 40);
}


/* product size */


.product_size p,.product_sold p{
    font-weight: 500;
    margin: 3px 0px; 
    color: rgb(246, 3, 165);
}
.product_size button{
    margin: 0px 4px 8px 0px;
    padding: 8px 12px;
    width: fit-content;
    border-radius: 20px;
    border: none;
    background-color: rgb(239, 233, 226);
    transition: all .5s;
}
.product_size button:active{
    
    color: #2e2d2d;
    background-color: rgb(250, 80, 194);
}
.product_size button:focus{
    
    color: #2e2d2d;
    background-color: rgb(250, 80, 194);
}

/* product cart */

.product_cart{
    margin: 10px 0px;
    display: flex;
}

.product_cart1 button{
    border: none;
    font-weight: 600;
    background:none;
    background-color: #42f706;
    border-radius: 5px;
    /* color: white; */
    font-size: 18px;
    padding: 8px 25px;
    margin:0px 20px 0px 0px ;
    box-shadow: 2px 3px 3px gray;
    transition: all .4s;
}
/* .product_cart1 button:m{
    
    color: #2e2d2d;
    background-color: rgb(250, 80, 194);
} */
.product_cart1 button:hover{
    
    box-shadow: 3px 4px 8px gray;
    background-color: rgb(255, 255, 255);
}




.product_des p{
    font-weight: 500;
    font-size: 17px;
    
    color: rgb(99, 99, 99);
    margin: 10px 0px 0px 0px;
    max-width: 36vw;
}

.related{
margin: 30px 12px;
background-color: white;
}
.related> p{
    padding: 30px;
font-size: 24px;
text-align: left;
font-weight: 600;
    /* background-color: aliceblue; */
}
.relateditem{
    display: flex;
    
    overflow: scroll;
    justify-content: center;
}
@media (max-width:700px) {
    .productpage{
        margin-top: 80px;
    }
    .product_part{
        flex-direction: column;
    }
    .main_img img{
        
         width: 80vw;
         
     }
     .product_des p{
        max-width: 85vw;
     }
    .descrip_part{
        margin-left:1rem;
        margin-right: auto;
        text-align: left;
    }
    .descrip_part h3{
        padding-top: 10px;
        max-width: 85vw;
        font-size: 30px;
    }
    .related{
        margin: 30px 0px;
        
        }
        .relateditem{
            justify-content: left;
        }
}
