.mainbody *{
color: black;
font-size: 18px;
/* text-align: center; */
}
.heading{
    margin-left: 50px;
}
/*  */
.mainbody{
    display: flex;
    height: 100%;
    /* background: linear-gradient(to right,#494849, #c9c9cf); */
}
@media (max-width:900px) {
    .productform > div{
        flex-direction: column;
    }
    /* .productform */
}


.productform{
    display: flex;
    flex-direction: column;
    /* margin-left: 50px; */
}
.productform input{
    outline: none;
    color: rgb(4, 6, 6);
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    
    background: none;
    width: 450px;
    height: 40px;
    
    margin:10px 5px;
  
    transition: .35s;
    padding-left: 10px;
    transition: all .35s;
}
.productform input:hover{
    /* width: 440px; */
    /* height: 39px; */

    background-color: rgb(201, 221, 239);
    /* border-bottom: 2px solid black; */
}
.productform input:visited {
    color: aquamarine;
}
.productform input::placeholder{
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: rgb(153, 149, 149);
    /* font-weight: 700; */
    padding-left: 10px;
    text-shadow: 1px 1px 1px rgb(183, 221, 221);
}
.formsubmit{
    /* border: none; */
    font-size: 24px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .35s;
    font-weight: 700;
}
.formsubmit:hover{
    background-color: aquamarine;
}

.arrinput{
    display: flex;
    justify-content: center;
}
.arrinput >input{
    width: 420px;
}
.arrinput >p{
    margin-top: 10px;
    width: 30px;
    padding: 5px 25px 5px 10px;
    background-color: aqua;
    border-radius: 4px;
    cursor: pointer;
}
.arrinput >p:hover{
    background-color: rgb(190, 193, 195);
}
.showsizelist{
    display: flex;
    justify-content: center;
}
.showsizelist > p{
    background-color: rgb(211, 222, 231);
    border-radius: 5px;
    padding: 4px;
    margin: 5px;
}