.mainbody *{
color: black;
font-size: 18px;
/* text-align: center; */
}
.heading{
    margin-left: 50px;
}
/*  */
.mainbody{
    display: flex;
    height: 100%;
    /* background: linear-gradient(to right,#494849, #c9c9cf); */
}
@media (max-width:900px) {
    .productform > div{
        flex-direction: column;
    }
    /* .productform */
}


.productform{
    display: flex;
    flex-direction: column;
    /* margin-left: 50px; */
}
.productform input{
    outline: none;
    color: rgb(4, 6, 6);
    border: none;
    border-radius: 12px;
    background: none;
    width: 450px;
    height: 40px;
    /* font-weight: 700; */
    margin:10px 5px;
    box-shadow: 0px 0px 3px rgb(115, 115, 120);
    transition: .35s;
    padding-left: 10px;
}
.productform input:hover{
    background-color: rgb(201, 221, 239);
}
.productform input:visited {
    color: aquamarine;
}
.productform input::placeholder{
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: rgb(153, 149, 149);
    /* font-weight: 700; */
    padding-left: 10px;
    text-shadow: 1px 1px 1px rgb(183, 221, 221);
}
.formsubmit{
    /* border: none; */
    font-size: 24px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .35s;
    font-weight: 700;
}
.formsubmit:hover{
    background-color: aquamarine;
}