*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  /* font-size: 16px; */
}
p{
  margin-bottom: 10px;
}
.box {
  margin: 15px 10px;
  display: flex;
  /* flex-wrap: wrap; */
  cursor: pointer;
  border-radius: 5px;
 width:40vw;
  transition: all .25s;
  box-shadow: 0px 0px 4px rgb(152, 152, 155);
}
.box:hover{
  box-shadow: 0px 0px 8px rgb(152, 152, 155);
  transform: scale(1.05);

}
.box >div > img {
border-radius: 10px;
  cursor: pointer;
  width: 210px;
  height: 245px;
  padding: 10px;
}

.box2 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px  5px;
  text-align: left;
  
}
.box2 *{
  font-size: large;
}
.box2 > h5 {
  margin-bottom: 4px;
  color: rgb(0, 0, 0);
}
.descrip{
  font-size: .9rem;
  color: rgb(95, 95, 95);
}
.box2_1 {
  display: flex;

  flex-direction: column;

}
.box2_1 div{
  display: flex;
}
.mrp2 {
 /* font-size: 18px; */
 font-weight: 600;
 color: rgb(140, 141, 141);
  text-decoration: line-through;
}
.discount2{
  padding: 0px 3px;
  margin-left: 10px;
  border-radius: 3px;
  width: fit-content;
  color: rgb(34, 55, 84);
  background-color: rgb(123, 230, 150);

}
.price {
color: rgb(217, 0, 255);
  font-weight: 700;
}
#size{
  background-color: rgb(236, 252, 252);
  /* border: .5px solid black; */
  padding: 2px;
  margin: 2px;
}
@media (max-width:740px) {
  .box{
    /* width: 160px; */
  /* margin:10px 10px; */
  }
  .box2{
    margin: 5px ;
  }
  .box *{
    font-size:medium;
  }
  .box >div > img {
    margin-top: 1px;
    width: 159px;
    height: 170px;
    padding: 5px 5px;
  }
}
@media (max-width:1150px) {
  .box{
   width: 70vw;
  }
}
@media (max-width:650px) {
  .box{
   width: 90vw;
  }
  .box *{
    font-size:14px;
  }
}
/* @media (max-width:470px) {
  .box >div > img {
    width: 120px ;
    height: 140px;
  }
} */