*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  font-size: 14px;
}
p{
  margin-bottom: 10px;
}
.box {
  margin: 15px 10px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  width: 211px;
  transition: all .25s;
}
.box:hover{
  box-shadow: 0px 0px 8px rgb(152, 152, 155);
  transform: scale(1.03);

}
.box >div > img {
  margin-top: 1px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
  width: 210px;
  height: 245px;
  /* transition: all .35s; */
}

.box2 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px  5px;
  text-align: left;
  
}
.box2 > h5 {
  margin-bottom: 4px;
  color: rgb(0, 0, 0);
}
.descrip{
  font-size: .9rem;
  color: rgb(95, 95, 95);
}
.box2_1 {
  display: flex;
  flex-direction: row;

}
.mrp1 {
  padding-left: 5px;
  padding-right: 5px;
   text-decoration: line-through;
}
.discount1{
  padding: 0px 3px;
  border-radius: 3px;
  color: rgb(34, 55, 84);
  background-color: rgb(123, 230, 150);

}
.price {
color: rgb(217, 0, 255);
  font-weight: 700;
}
#size{
  background-color: rgb(236, 252, 252);
  /* border: .5px solid black; */
  padding: 2px;
  margin: 2px;
}
@media (max-width:740px) {
  .box{
    width: 160px;
  margin:10px 10px;
  }
  .box2{
    margin: 5px ;
  }
  .box *{
    font-size: small
  }
  .box >div > img {
    margin-top: 1px;
    width: 159px;
    height: 170px;
  }
}
@media (max-width:490px) {
  .box{
    margin: 10px 5px;
    /* height: 300px; */
  }
  .box2_1 *{
    margin: 0px;
  }
}