

.slider-container{
  width: 25vw;
}


.slick-prev:before, .slick-next:before{
  color: aquamarine;
}
.slick-slide img
{
    border-radius: 17px;
    width: 23vw;
    height: 27vw ;
  margin: 40px 20px;
}
.slick-prev:before, .slick-next:before{
  color: rgb(27, 27, 22) !important;
  margin:auto;
}
@media (max-width:865px) {
  .slider-container{
    width: 80vw;
  }

  .slick-slide img
  {
    justify-content: space-around;
      border-radius: 17px;
      width: 65%;
      height: 57vw !important;
    margin: auto;
  }
}




.slick-slide:focus {
  /* outline: none; */
}

/* .slick-slide-title {
  text-transform: capitalize;
} */
@media (max-width:450px) {
  
  .slick-slide img{
    height: 200px;
   
  }
}
