/* .filterbtn {
  display: none;
}
.sorting{
display: flex;
justify-content: space-between;
width: 250px;

}
.sorting div{
  display: flex;
  justify-content: space-between;
  width: 250px;
  }
.sorting p{
  text-align: center;
  padding: 5px 6px 0px 0px;
}
.sorting select{
border: none;
background-color: rgb(234, 236, 237);
width: 170px;
height: 30px;
}
.filter {
  border: 2px solid rgb(181, 181, 181);
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 10px;

  height: fit-content;
}
.filter > div {
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
}
.filter > div a{
    transition: all .2s;
}
.filter > div a:hover {
  transform: scale(1.1);
}
.filter h3 {
  margin-bottom: 10px;
  padding: 10px 0px;

  background-color: rgb(227, 227, 227);
}
.filter_size > div {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-around;
  flex-direction: row;
}
.filter_size > div > div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  .sorting{
    width: 98.5vw;
  }
  .sorting div{
    justify-content: flex-end;
  }
  .sorting select{
    width: 150px;
  }
  .filter {
    display: none;
    width: 97.5vw;
    margin: 0px;
    margin-bottom: 20px;
  }
  .filterbtn {
    margin-bottom: 5px;
    outline: none;
    border: none;
    font-size: larger;
    background-color: rgb(221, 221, 221);
    display: flex;
  }
}
@media (max-width:370px) {
  .sorting *{
font-size: 12px;
  }
} */