.navber * {
  margin: 0px;
  padding: 0px;
  /* font-family: "Rubik", sans-serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: 500; */
  /* font-style: normal; */
}
.navber {
  top: 0px;
  height: 70px;
  position: fixed;
  z-index: 1;
  /* box-shadow: 0px 0px 10px rgb(123, 123, 123); */
  background-color: rgba(28, 27, 27, 0.476);
  display: flex;
  width: 100%;
}

/* leftnav */

.leftnav {
  display: flex;
}
.leftnav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.leftnav ul li a{
  color: rgb(111, 241, 12);
  font-size: 20px;
}
.leftnav ul li {
  font-weight: 500;
  display: flex;
  margin-left: 40px;
  align-items: center;
}

.logo img {
  width: 60px;
  margin-left: 10px;

}

/* rightnav */

.rightnav i {
  width: 20px;
  color: rgb(111, 241, 12);
}

.rightnav ul {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-right: 0px;
  width: 370px;
  padding-left: 150px;
 
  justify-content: space-between;
}
.rightnav ul li {
  font-weight: 600;
  display: flex;
  align-items: center;
}
.rightnav span{
  color: rgb(111, 241, 12);

}
.rightnav ul li i{
  cursor: pointer;

}

.search {
  /* background-color: rgb(239, 244, 244); */
  display: flex;
  width: fit-content;
  margin: 10px 0px;
  border-radius: 5px;
}
.search >input {
  height: 30px;
  border: none;
  width: 70px;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: rgb(20, 26, 31);

}

.search >button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  width: 30px;
  color: black;
  background: rgb(20, 26, 31);
  height: 30px;
  padding-right: 2px;
}

.navwrap i{
  display: none;
  width: 0px;
}
.navsmall{
  display: none;
  
}
@media (max-width:870px) {
  .navber{
    height: 40px;
    background-color: rgba(28, 27, 27, 0.841);

  }
  .leftnav ul li {
    margin: 0px;
  }
  .rightnav ul{
    width: 370px;
    right: 20px;
  }
  .search input{
    display: none;
  }
  .nav_main *{
    width: 0px;
    display: none;
  }
  .navwrap *{
margin-right: 8px;
    width: fit-content;
  }
  #bars{
    display:block;
  }

  .navsmall{
    /* display: flex; */
    margin-top: 40px;
    background-color: rgba(28, 27, 27, 0.841);
    /* background: url("./images/logo.png"); */
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 100%;
  }
  .nav_small {
padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  .nav_small *{
    color: rgb(111, 241, 12);
    font-weight: 600;

  }
}